{{- if eq .chezmoi.os "darwin" }}
#!/bin/zsh
{{- else if eq .chezmoi.os "linux" }}
#!/bin/bash
{{- end }}

# ensure go path is defined, and also add GOPATH/bin in PATH
# export GOPATH="${HOME}/go"

# Add Krew to PATH
export PATH="${KREW_ROOT:-$HOME/.krew}/bin:$PATH"
