{{- if eq .chezmoi.os "darwin" }}
#!/bin/zsh
{{- else if eq .chezmoi.os "linux" }}
# linux
#!/bin/bash
{{- end }}
echo "Starting .my_env"

# ensure go path is defined, and also add GOPATH/bin in PATH
# export GOPATH="${HOME}/go"

# GOBIN="${GOPATH}/bin"

# Add GOBIN to PATH
# export PATH="$GOBIN:$PATH"

# Mise paths handled by mise activate
# AUTH_TOKEN (JWT)
# export AUTH_TOKEN="DO NOT COMMIT SECRETS"

# GITLAB ACCESS_KEY
# export GITLAB_TOKEN="DO NOT COMMIT SECRETS"
# export GITLAB_HOST="DO NOT COMMIT SECRETS"
# export EDITOR="code -r"

# AWS CLI
# https://docs.aws.amazon.com/cli/latest/userguide/cli-configure-envvars.html
# export AWS_DEFAULT_REGION='us-west-2'
# See also "aws cli autocomplete" in ./2_tools
# export AWS_CLI_AUTO_PROMPT='on-partial'
# export AWS_PROFILE='prod'
# export AWS_RETRY_MODE='adaptive'

# Add Krew to PATH
export PATH="${KREW_ROOT:-$HOME/.krew}/bin:$PATH"

# Rust config (for mise)
# export RUST_WITHOUT=rust-docs
