{{- if eq .chezmoi.os "darwin" }}
#!/bin/zsh
{{- else if eq .chezmoi.os "linux" }}
# linux
#!/bin/bash
{{- end }}
echo "Starting .my_env"

# ensure go path is defined, and also add GOPATH/bin in PATH
export GOPATH="${HOME}/go"

GOBIN="${GOPATH}/bin"

# https://asdf-vm.com/guide/upgrading-to-v0-16
export PATH="$GOBIN:$PATH"
export ASDF_DATA_DIR=${HOME}/.asdf
export PATH="$ASDF_DATA_DIR/shims:$PATH"

# AUTH_TOKEN (JWT)
export AUTH_TOKEN="DO NOT COMMIT SECRETS"

# GITLAB ACCESS_KEY
export ACCESS_KEY="DO NOT COMMIT SECRETS"
export GITLAB_HOST="DO NOT COMMIT SECRETS"
export EDITOR="code -r"

#OpenAI key, used by gptcommit
export OPENAI_API_KEY="sk-DO NOT COMMIT SECRETS"

# Make sure aqua is in PATH
export PATH=${AQUA_ROOT_DIR:-${XDG_DATA_HOME:-$HOME/.local/share}/aquaproj-aqua}/bin:$PATH

# AWS CLI
# https://docs.aws.amazon.com/cli/latest/userguide/cli-configure-envvars.html
export AWS_DEFAULT_REGION='us-west-2'
# See also "aws cli autocomplete" in ./2_tools
export AWS_CLI_AUTO_PROMPT='on-partial'
export AWS_PROFILE='prod'
export AWS_RETRY_MODE='adaptive'

# Krew
export PATH="${KREW_ROOT:-$HOME/.krew}/bin:$PATH"

# Rust (for asdf) config
# https://github.com/asdf-community/asdf-rust#configuration
export RUST_WITHOUT=rust-docs
