{{- $bwStatus := output "bw" "status" | fromJson -}}
{{- if eq $bwStatus.status "unauthenticated" -}}
{{-   fail "Bitwarden: not logged in — run: bw login" -}}
{{- end -}}

[user]
	email = {{ $bwStatus.userEmail }}
