#!/bin/bash
{{- if eq .chezmoi.os "darwin" }}
# Install Homebrew
# https://brew.sh/
/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
{{- else if eq .chezmoi.os "linux" }}
# Detected Linux; Install snapd
command -v snap || (
    echo "Updating APT"
    sudo apt update
    echo "Installing snapd"
    sudo apt install snapd
)
{{- end }}
