#!/bin/bash
echo ''
echo 'Starting asdf_setup'
{{- if eq .chezmoi.os "darwin" }}

# Check if ASDF is setup
if [[ -d "${HOME}/.asdf" ]]; then
    echo '  ~/.asdf already exists. Skipping add plugin for Oh-My-ZSH'
else
    # Install ASDF for Oh-My-ZSH
    https://github.com/ohmyzsh/ohmyzsh/tree/master/plugins/asdf
    git clone https://github.com/asdf-vm/asdf.git ~/.asdf
fi
{{- else if eq .chezmoi.os "linux" }}

# Check if ASDF is setup
if [[ -d "${HOME}/.asdf" ]]; then
    echo '  ~/.asdf already exists.'
else
    # Install ASDF from github
    LATEST_VERSION=$(curl -sL https://api.github.com/repos/asdf-vm/asdf/releases/latest | jq -r ".tag_name" | cut -c2-)
    git clone https://github.com/asdf-vm/asdf.git ~/.asdf --branch "v${LATEST_VERSION}"
fi
{{- end }}
