#!/bin/bash
# Configure git global settings
echo "Starting tools_setup"
echo ""
{{ if eq .chezmoi.os "darwin" }}
# MacOS"
# if the command is not yet available, install via Homebrew
# Warp Terminal
command -v warp-terminal || (
  echo "Installing Warp Terminal"
  brew install --cask warp
  echo ""
)
# VS Code
command -v code || (
  echo "Installing VS Code"
  brew install --cask visual-studio-code
  echo ""
)
# TLDR
command -v TLDR || (
  echo "Installing TLDR"
  brew install tldr
  echo ""
)
# Meld
command -v meld || (
  echo "Installing Meld"
  brew install --cask dehesselle-meld
  # also consider SemanticDiff in VS Code
  echo ""
)
# Slack
command -v slack || (
  echo "Installing Slack"
  brew install --cask slack
  echo ""
)
# Firefox browser
command -v firefox || (
  echo "Installing Firefox"
  brew install --cask firefox
  echo ""
)
# Vivaldi browser
# echo "Installing Vivaldi"
# brew install --cask vivaldi
# echo ""
# Bitwarden GUI
command -v bitwarden || (
  echo "Installing Bitwarden (GUI)"
  brew install --cask bitwarden
  echo ""
)
# Bitwarden CLI
command -v bw || (
  echo "Installing Bitwarden CLI"
  brew install bitwarden-cli
  echo ""
)
# Aptakube
command -v aptakube || (
  echo "Installing Aptakube"
  brew install --cask aptakube
  echo ""
)
# Discord
command -v discord || (
  echo "Installing Discord"
  brew install --cask discord
  echo ""
)
# ASDF Version Manager
command -v asdf || (
  echo "Installing asdf-vm"
  brew install asdf
  echo ""
)
# Aqua CLI Version Manager
command -v aqua || (
  echo "Aqua"
  curl -sSfL -O https://raw.githubusercontent.com/aquaproj/aqua-installer/v3.1.1/ aqua-installer
  echo "fb4b3b7d026e5aba1fc478c268e8fbd653e01404c8a8c6284fdba88ae62eda6a  aqua-installer" | sha256sum -c
  chmod +x aqua-installer
  ./aqua-installer
  echo ""
)
command -v task || (
  echo "Taskfile"
  brew install go-task
  echo ""
)
{{- else if eq .chezmoi.os "linux" }}
# linux
# Create a tools directory in my home Downloads directory
mkdir -p "${HOME}/Downloads/Tools"
cd "${HOME}/Downloads/Tools"
# if the command is not yet available, download the .deb file and install the package
# Warp Terminal
# https://www.warp.dev/download
command -v warp-terminal || (
  wget "https://app.warp.dev/get_warp?package=deb" --output-document="warp.deb"
  sudo dpkg -i "warp.deb"
  echo ""
)
# VS Code
# https://code.visualstudio.com/docs/setup/linux
# or try snap: sudo snap install code --classic
command -v code || (
  wget "https://go.microsoft.com/fwlink/?LinkID=760868" --output-document="vscode.deb"
  sudo dpkg -i "vscode.deb"
  echo ""
)
# TLDR
command -v tldr || (
  echo "Installing TLDR"
  sudo snap install tldr
  echo ""
)
# Meld
echo "Meld ..."
echo "Since meld is no longer available for macOS, consider SemanticDiff in VS Code"
echo ""
# Slack
command -v slack || (
  echo "Installing Slack"
  sudo snap install slack
  echo ""
)
# Vivaldi browser
# echo "Installing Vivaldi"
# sudo snap install vivaldi
# echo ""
# Bitwarden GUI
command -v bitwarden || (
  echo "Installing Bitwarden (GUI)"
  sudo snap install bitwarden
  echo ""
)
# Bitwarden CLI
command -v bw || (
  echo "Installing Bitwarden CLI"
  sudo snap install bw
  echo ""
)
# Aptakube
command -v aptakube || (
  #   echo "Opening Aptakube.com for download"
  # xdg-open https://aptakube.com

  curl -sSfL -O
  wget "https://github.com/aptakube/aptakube/releases/download/1.10.4/aptakube_1.10.4_amd64.deb" --output-document="aptakube.deb"
  sudo dpkg -i "aptakube.deb"
  echo ""
)
# Discord
command -v discord || (
  echo "Installing Discord"
  sudo snap install discord
  echo ""
)
# Espanso - Text Expander alternative to features built in to macOS
command -v espanso || (
  echo "Installing Espanso"
  sudo snap install espanso --classic
  echo ""
)
# ASDF Version Manager
# echo "Installing asdf-vm"
# brew install asdf
# echo ""
# Aqua CLI Version Manager
command -v aqua || (
  echo "downloading and installing Aqua"
  curl -sSfL -O https://raw.githubusercontent.com/aquaproj/Aqua-installer/v3.1.1/aqua-installer
  echo "fb4b3b7d026e5aba1fc478c268e8fbd653e01404c8a8c6284fdba88ae62eda6a  aqua-installer" | sha256sum -c
  chmod +x aqua-installer
  ./aqua-installer
  export PATH=${AQUA_ROOT_DIR:-${XDG_DATA_HOME:-$HOME/.local/share}/aquaproj-aqua}/bin:$PATH
  echo "installing packages listed in ~/aqua.yaml"
  aqua install
  echo ""
)
command -v task || (
  echo "Taskfile"
  sudo snap install task --classic
  echo ""
)
{{- end }}
