#!/bin/bash
{{- if eq .chezmoi.os "darwin" }}
command -v brew || (
    # Install Homebrew
    # https://brew.sh/
    echo "Installing Homebrew"
    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
)
{{- else if eq .chezmoi.os "linux" }}
command -v snap || (
    # This may need to be reconsidered, if it turns out to be unsafe
    # to install snapd on a system that already has it
    echo "Installing snapd"
    sudo apt install snapd
)
{{- end }}
echo ""
