#!/bin/bash
{{- if eq .chezmoi.os "darwin" }}
# Check if OpenVPN Connect is setup
if [[ -d "/Applications/OpenVPN Connect.app" ]]; then
    echo ' OpenVPN Connect is installed.'
else
    echo 'Starting OpenVPN Connect setup'
    echo ''
    wget "https://openvpn.net/downloads/openvpn-connect-v3-macos.dmg" --output-document="$HOME/Downloads/openvpn-connect-v3-macos.dmg"
    open "$HOME/Downloads/openvpn-connect-v3-macos.dmg" # does this wait?
    open -a "/Applications/OpenVPN Connect.app"
fi
{{- else if eq .chezmoi.os "linux" }}
# Check if OpenVPN3 client is setup
command -v openvpn3 || (
    echo 'Starting OpenVPN3 setup'
    echo ''
    # Install packages and dependencies for OpenVPN3 client
    # https://community.openvpn.net/openvpn/wiki/OpenVPN3Linux
    sudo apt install -y apt-transport-https
    sudo curl -fsSL https://swupdate.openvpn.net/repos/openvpn-repo-pkg-key.pub | gpg --dearmor >/etc/apt/trusted.gpg.d/openvpn-repo-pkg-keyring.gpg
    # Add openvpn3-jammy to sources list
    sudo curl -fsSL https://swupdate.openvpn.net/community/openvpn3/repos/openvpn3-jammy.list >/etc/apt/sources.list.d/openvpn3.list
    sudo apt update && sudo apt install -y openvpn3
)
command -v openvpn3 && (
    # Confirm openvpn3 client can run
    profile_installed=$(openvpn3 config-manage -c subsplash_pdx -s | wc --lines)
    if [[ $profile_installed == 0 ]]; then
        test -f ~/bryan_subsplash_pdx.cfg && openvpn3 config-import --config ~/bryan_subsplash_pdx.cfg --name subsplash_pdx --persistent || echo '[ERROR] ~/bryan_subsplash_pdx.cfg not found'
        test -f ~/bryan_subsplash_sfo.cfg && openvpn3 config-import --config ~/bryan_subsplash_sfo.cfg --name subsplash_sfo --persistent || echo '[ERROR] ~/bryan_subsplash_sfo.cfg not found'
        echo 'openvpn3 configs-list'
        echo ''
        openvpn3 configs-list
    fi
)
{{- end}}
